{% extends 'base.html' %}

{% block title %}Check Your Email | Partner Portal{% endblock %}

{% block extra_css %}{% include 'includes/auth_styles.html' %}{% endblock %}

{% block auth_content %}
<div class="auth-wrapper">
    {% include 'includes/auth_panel.html' %}
    <div class="auth-form-container">
        <div class="auth-form-card border">
            {% include 'registration/_password_reset_done_body.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card border-0 shadow-sm rounded-4">
            <div class="card-body p-4">
                {% include 'registration/_password_reset_done_body.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
